<?xml version="1.0"?>
<!--
  ~ Copyright (c) MageBootcamp 2020.
  ~
  ~ Created by MageBootcamp: The Ultimate Online Magento Course.
  ~ We are here to help you become a Magento PRO.
  ~ Watch and learn at https://magebootcamp.com.
  ~
  ~ @author Daniel Donselaar
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="fitness" frontName="fitness">
            <module name="MageBootcamp_CustomerFitness" />
        </route>
    </router>
</config>
